.panel-body.content img {
    width: 100%;
}

a.topic {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: #0084ff;
    vertical-align: top;
    border-radius: 100px;
    background: rgba(0,132,255,.1);
}

a.topic:hover {
    background: #259;
    color: #fff;
    text-decoration: none;
}

/* nnngu */
.topic_span {
    float: right;
}

.button.is-naked {
    background: 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
}
.actions {
    display: flex;
    padding: 10px 20px;
}
.delete-form {
    margin-left: 20px;
}
.delete-button {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
.question-follow {
    text-align: center;
}

.user-statics , .user-actions {
    margin-top: 20px;
}
.user-statics {
    /*display: flex;*/
    display: -webkit-box;
}
.statics-item {
    padding: 2px 20px;
}
.messages-list {
    margin-top: 80px;
}
.media.unread {
    background:#fff9ca;
}
.notifications {
    position: relative;
    padding: 8px 15px 8px 25px;
    color: #666;
    border: none;
    border-top: 1px dotted #eee;
    background: transparent;
}

.notifications.unread {
    background: #fff9ea;
}

/* 新添加的 */
.card-body .question-body img {
    width: 100%;
}
.media-body {
    margin: 10px 0 0 15px;
}
.avatar_img {
    vertical-align: top;
    background: #fff;
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.author_name {
    margin-left: 15px;
    padding-top: 10px;
    display: block;
}